// Common styles of the project
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
    font-family: 'Muller', sans-serif;
    -webkit-overflow-scrolling: touch;
    & > * {
        flex-shrink: 0;
    }
}

.no-scroll {
    overflow: hidden;
}

* {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}

//Убрать стили айфона у инпутов
input[type='text'],
input[type='email'],
input[type='password'] {
    // background: transparent;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

//Убирает крестик у инпутов ie
input::-ms-clear {
    display: none;
}

//Убирает глазик на type="password" в ie
input::-ms-reveal {
    display: none;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: $main-color;
    transition: 0.3s;
    &:hover{
        color: $button-color-hover;
    }
}
.link{
    display: flex;
    align-items: center;
    font-size: 21px;
    line-height: 25px;
    color: $text-color;
    transition: 0.3s;
    &__icon{
        flex-shrink: 0;
        margin-right: 9px;
        img{
            display: block;
        }
    }
    &-border{
        span{
            border-bottom: 1px solid $main-color;
        }
    }
    &:hover{
        color: $main-color;
    }
}
.video{
    position: relative;
    z-index: 1;
    height: 100%;
    max-width: 940px;
    width: 51.04vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &__preview{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__button{
        font-size: 21px;
        line-height: 30px;
        color: #F9572E;
        display: flex;
        flex-direction: column;
        align-items: center;
        span{
            display: inline-block;
            margin-top: 19px;
            @media screen and (max-width: 1279px) {
                margin-top: 5px;
            }
        }
        svg{
            display: block;
        }
        path{
            transform-origin: center;
            transition: 0.3s;                
        }
    }
    &__play{
        @media screen and (max-width: 1279px) {
            width: 180px;
            height: 180px;
            svg{
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
    &:hover{
        path{
            transform: scale(1.2);
        }
    }
}

.button{
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: $button-text-color;
    border-radius: 60px;
    padding: 18px 28px;
    background: $main-color;
    box-shadow: 0px 7px 15px rgba(249, 87, 46, 0.6);
    transition: 0.3s;
    cursor: pointer;
    border: none;
    &:hover{
        background: $button-color-hover;
    }
}
.input{
    position: relative;
    input{
        width: 100%;
        font-size: 18px;
        line-height: 24px;
        padding: 18px 24px 14px 24px;
        border: 1px solid #CCCCCC;
        border-radius: 4px;
        color: #383838;
        transition: 0.3s;
        &:focus + .input__placeholder, &.active-placeholder + .input__placeholder{
            top: -11px;
            font-size: 13px;     
            border-radius: 10px;       
        }
        &.error{
            border-color: #F9572E;
            & + .input__placeholder{
                color: #F9572E;
            }
        }
    }
    &__placeholder{
        font-size: 18px;
        line-height: 24px;
        color: #666666;
        position: absolute;
        top: 19px;
        left: 19px;
        max-width: calc(100% - 40px);
        pointer-events: none;
        background: #fff;
        padding-left: 6px;
        padding-right: 6px;
        transition: 0.3s;
    }
}

.wrapper{
    width: 980px;
    margin: 0 auto;
    @media screen and (max-width: 1023px) {
        width: calc(100% - 30px);
    }
}
.title{
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: -0.1px;
    color: #000000;
    margin-bottom: 8px;
    @media screen and (max-width: 1023px) {
        font-size: 32px;
        line-height: 40px;
    }
    @media screen and (max-width: 479px) {
        font-size: 24px;
        line-height: 30px;
    }
}
.text{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.62px;
    text-transform: uppercase;
    color: #33B5A3;
    @media screen and (max-width: 479px) {
        font-size: 14px;
        line-height: 20px;
    }
}
.address{
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        font-size: 21px;
        line-height: 30px;
        text-align: center;
        letter-spacing: -0.1px;
        color: #000000;
        margin: 0;
    }
    span{
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: -0.00761905px;
        color: #666666;
    }
}