<footer class="footer">
    <div class="footer__container">
        <div class="socials">
            <a href="#" class="social">
                <img src="./static/img/content/facebook.svg" alt="">
            </a>
            <a href="#" class="social">
                <img src="./static/img/content/vk.svg" alt="">
            </a>
            <a href="#" class="social">
                <img src="./static/img/content/inst.svg" alt="">
            </a>
        </div>
        <div class="footer__title">
            Следите за нашим развитием
        </div>
        <div class="footer__text">
            Подпишитесь на наши аккаунты в соц. сетях, знакомьтесь с нашими проектами и тем, что нас вдохновляет
        </div>
        <div class="footer__info">
            <a href="#" class="link">
                <div class="link__icon">
                    <img src="./static/img/content/tel.svg" alt="">
                </div>
                <span class="link__text">
                    +7 (812) 903-54-45
                </span>
            </a>

            <address class="address">
                <p>Ул. Галерная, д 55,</p>
                <span>Санкт-Петербург</span>
            </address>

            <a href="#" class="link link-border">
                <div class="link__icon">
                    <img src="./static/img/content/mail.svg" alt="">
                </div>
                <span class="link__text">
                    9035445@gmail.com
                </span>
            </a>
        </div>
    </div>
    <div class="copyright">
        © FIX Ремонт, 2016
    </div>
</footer>