<section class="jobinfo">
    <div class="wrapper">
        <div class="title">
            FIX Ремонт — это легко
        </div>
        <div class="text">
            Готовые проекты, проверенные материалы и умелые руки
        </div>
        <div class="jobinfo__items">
            <div class="jobinfo__item jobinfo__item-line">
                <div class="jobinfo__title">
                    Опытная команда
                </div>
                <div class="jobinfo__text">
                    Команда проектировщиков и строителей со стажем работы более 6 лет
                </div>
            </div>
            <div class="jobinfo__item jobinfo__item-line">
                <div class="jobinfo__title">
                    Типовые дизайн-проекты
                </div>
                <div class="jobinfo__text">
                    Три стиля чистовой отделки «под ключ» и спектр дополнительных услуг
                </div>
            </div>
            <div class="jobinfo__item jobinfo__item-line">
                <div class="jobinfo__title">
                    Фиксированная смета
                </div>
                <div class="jobinfo__text">
                    Никаких дополнительных расходов во время ремонта. Расчет стоимости при заключении договора
                </div>
            </div>
            <div class="jobinfo__item jobinfo__item-border">
                <div class="jobinfo__title">
                    Срок работ
                </div>
                <div class="jobinfo__bigtitle">
                    3 месяца
                </div>
            </div>
        </div>
    </div>
</section>