<section class="gallery">
    <div class="wrapper">
        <div class="title">
            3 стиля интерьера
        </div>
        <div class="text">
            Скандинавский, классический и эко-стиль
        </div>
        <div class="slider">
            <div class="slider__container">
                <div class="slider__item active">
                    <picture class="gallery__img">
                        <img src="./static/img/content/slider-img.jpg" alt="">
                    </picture>
                    <div class="gallery__text">
                        Кафельная плитка в ванной комнате в скандинавском стиле
                    </div>
                </div>
                <div class="slider__item">
                    <picture class="gallery__img">
                        <img src="./static/img/content/slider-img.jpg" alt="">
                    </picture>
                    <div class="gallery__text">
                        Кафельная плитка в ванной комнате в скандинавском стиле
                    </div>
                </div>
                <div class="slider__item">
                    <picture class="gallery__img">
                        <img src="./static/img/content/slider-img.jpg" alt="">
                    </picture>
                    <div class="gallery__text">
                        Кафельная плитка в ванной комнате в скандинавском стиле
                    </div>
                </div>
            </div>
            <div class="slider__controls">
                <div class="slider__left">
                    <img src="./static/img/content/arrow-left.svg" alt="">
                </div>
                <div class="slider__right">
                    <img src="./static/img/content/arrow-right.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>