.gallery{
    overflow: hidden;
    padding-bottom: 100px;
    @media screen and (max-width: 1023px) {
        padding-bottom: 60px;
    }
    &__img{
        display: block;
        width: calc(100% - 160px);
        flex-shrink: 0;
        transition: 0.3s;
        height: 100%;
        @media screen and (max-width: 579px) {
            position: relative;
            width: 100%;
            height: auto;
            padding-bottom: 79%;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            @media screen and (max-width: 579px) {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
            }
        }
        
    }
    &__text{
        margin-left: 17px;
        max-width: 144px;
        font-size: 13px;
        line-height: 20px;
        color: #666666;
        transition: 0.3s;
        opacity: 0;
        @media screen and (max-width: 579px) {
            margin-left: 0;
            margin-top: 10px;
        }
    }
    .slider{
        margin-top: 50px;
        @media screen and (max-width: 1023px) {
            margin-top: 30px;
        }
        &__item{
            display: flex;
            @media screen and (max-width: 579px) {
                flex-direction: column;
            }
            &.active{
                .gallery__text{
                    opacity: 1;
                }
                .gallery__img{
                    width: calc(100% - 230px);
                    @media screen and (max-width: 1023px) {
                        width: calc(100% - 190px);
                    }
                    @media screen and (max-width: 579px) {
                        width: 100%;
                    }
                }
            }
        }
    }
}
.slider{
    position: relative;
    &__container{
        display: flex;
    }
    &__item{
        width: 980px;
        flex-shrink: 0;
    }
    &__controls{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        right: 74px;
        width: 73px;
        @media screen and (max-width: 579px) {
            right: 0;
        }
        & > *{
            cursor: pointer;
            img{
                transition: 0.3s;
            }
            &:hover img{
                transform: scaleY(0.8);
            }
        }
    }
}