<section class="form">
    <div class="wrapper">
        <form class="form__container validate-form" id="start-service-form">
            <div class="title">
                Узнайте о запуске сервиса первым
            </div>
            <div class="form__title">
                <div class="form__icon">
                    <img src="./static/img/content/form-icon.svg" alt="">
                </div>
                <span>Первым 10 клиентам стальная входная дверь в подарок</span>
            </div>
            <div class="input">
                <input type="text" data-validate="required">
                <div class="input__placeholder">
                    Имя и фамилия*
                </div>
            </div>
            <div class="input">
                <input type="text" data-validate="email">
                <div class="input__placeholder">
                    Е-mail адрес*
                </div>
            </div>
            <div class="input">
                <input type="text"  name="name" class="tel-mask" inputmode="numeric" maxlength="18">
                <div class="input__placeholder">
                    Телефон
                </div>
            </div>
            <button class="button" type="submit">
                Подписаться
            </button>
            <div class="form__politic">
                * Обязательные для заполнения поля 
                <a href="#">Политика конфиденциальности</a>
            </div>
            <div class="form__success">
                <img src="./static/img/content/success.svg" alt="">
                <span>
                    Спасибо! Мы будем держать вас в курсе обновлений
                </span>
            </div>
        </form>
    </div>
</section>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const form = document.getElementById('start-service-form');
        const formInstance = new ValidateForm(form, () => {
            form.classList.add('success');
            //скрипт для отправки формы
        })
    })
</script>