<section class="form">
    <div class="wrapper">
        <div class="form__container">
            <div class="title">
                Узнайте о запуске сервиса первым
            </div>
            <div class="form__title">
                <div class="form__icon">
                    <img src="./static/img/content/form-icon.svg" alt="">
                </div>
                <span>Первым 10 клиентам стальная входная дверь в подарок</span>
            </div>
            <div class="input">
                <input type="text">
                <div class="input__placeholder">
                    Имя и фамилия*
                </div>
            </div>
            <div class="input">
                <input type="text">
                <div class="input__placeholder">
                    Е-mail адрес*
                </div>
            </div>
            <div class="input">
                <input type="text">
                <div class="input__placeholder">
                    Телефон
                </div>
            </div>
            <button class="button">
                Подписаться
            </button>
            <div class="form__politic">
                * Обязательные для заполнения поля 
                <a href="#">Политика конфиденциальности</a>
            </div>
        </div>
    </div>
</section>