<section class="company">
    <div class="company__container">
        <h1 class="company__title">
            Ремонт квартир в типовых домах
        </h1>
        <p class="company__text">
            Готовый дизайн-проект, работы и материалы за 3 месяца от 610 т.р.
        </p>
        <div class="company__block">
            <div class="button" data-scroll-to=".form">
                Узнайте о запуске первым
            </div>
            <time datetime="2016-03-01 00:00" class="company__date">
                Старт весной 2016
            </time>
        </div>
        <div class="anchor" data-scroll-to=".jobinfo">
            <div class="anchor__icon">
                <img src="./static/img/content/arrows.svg" alt="Стрелка вниз">
            </div>
            <span class="anchor__text">
                Листайте вниз, чтобы ничего не упустить
            </span>
        </div>
    </div>
    <a href="#" class="company__video video" data-youtubevideo-play="https://www.youtube.com/embed/txIjDujruFs">
        <picture class="video__preview">
            <img src="./static/img/content/video-preview.jpg" alt="Видео превью">
        </picture>
        <div class="video__button">
            <div class="video__play">
                <svg width="254" height="254" viewBox="0 0 254 254" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="127" cy="127" r="125" stroke="url(#play-round)" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M88.063 66.663L197.438 129.81L88.063 192.958V66.663V66.663Z" stroke="url(#play-icon)" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    <defs>
                        <linearGradient id="play-round" x1="2.27094e-08" y1="254" x2="254" y2="254" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FA9685"/>
                            <stop offset="1" stop-color="#F9572E"/>
                        </linearGradient>
                        <linearGradient id="play-icon" x1="86.0625" y1="-18610.4" x2="199.437" y2="-18610.4" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FA9685"/>
                            <stop offset="1" stop-color="#F9572E"/>
                        </linearGradient>
                    </defs>
                </svg>
            </div>
            <span>Смотреть видео</span>
        </div>
    </a>
</section>